#special-person {
  animation-name: breathing;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0s;
  animation-fill-mode: none;
  animation-play-state: running;
  color: orange;
}

@keyframes breathing {
  0% {
    -gtk-icon-transform: scale(0.9);
  }

  40% {
    -gtk-icon-transform: scale(1.0);
  }

  80% {
    -gtk-icon-transform: scale(0.9);
  }

  100% {
    -gtk-icon-transform: scale(0.9);
  }
}

.favourited {
  color: gold;
}
